@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,body{
    margin:0;
    padding:0;
    height:100vh;
    font-family:'Poppins',Verdana;
}
.bodylogin{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:whitesmoke;
}
.logindiv,#signindiv{
    text-align:center;
    padding:3%;
    width:30%;
    box-shadow:0px 0px 5px rgba(0,0,0,0.3);
    background-color:white;
    border-radius:15px;
}
#signindiv{
    display:none;
}
.logindiv a{
    text-decoration:none;
    color:dimgray;
}
.logindiv a:hover{
    color:blue;
    text-decoration:underline;
}
.hrflex{
    display:flex;
    justify-content:center;
}
.hrflex table{
    width:95%;
}
.hrflex table tr .hrtd{
    width:45%;
}
.hrflex td hr{
    width:100%;
}
.inputdiv{
    margin:2% 2%;
    margin-top:5%;
    position:relative;
}
.inputdiv input{
    width:98%;
    block-size:36px;
    border-radius:5px;
    border-style:solid;
    border-color:lightgray;
    outline:none;
    transition:.3s ease-in-out;
}
label{
    position:absolute;
    left:15px;
    padding:0px 2px;
    pointer-events:none;
    background-color:white;
    font-size:12px;
    transform:translateY(-50%);
    top:50%;
    transition:.3s ease-in-out;
    z-index:1;
}
.inputdiv input:focus~label,
.inputdiv input:valid~label{
    top:1%;
    font-size:10px;
    color:blue;
}
.inputdiv input:focus{
    border-color:blue;
}
.user-input,.pass-input{
    border-color:red !important;
}
.label-user,.label-pass{
    top:1%;
    color:red !important;
    font-size:10px;
}
.inputdiv input:hover{
    border-color:blue;
}
.inputdiv{
    color:gray;
}
.inputdiv:hover{
    color:blue;
}
.loginbuttondiv button,.signinbuttondiv button{
    width:100%;
    block-size:40px;
    color:white;
    background:linear-gradient(160deg,blue,lightblue);
    outline:none;
    border-style:none;
    font-weight:bold;
    border-radius:25px;
    cursor:pointer;
    transition:.3s ease-in-out;
}
.loginbuttondiv2 button{
    width:100%;
    block-size:40px;
    color:blue;
    background-color:white;
    border-color:blue;
    outline:none;
    border-style:solid;
    font-weight:bold;
    border-radius:25px;
    cursor:pointer;
    transition:.3s ease-in-out;
}
.loginbuttondiv2,.signinbuttondiv{
    width:50%;
    margin-left:1%;
}
.loginbuttondiv button:hover,.signinbuttondiv button:hover{
    box-shadow:0px 5px 5px rgba(0,0,0,0.3);
}
.loginbuttondiv2 button:hover{
    box-shadow:0px 5px 5px rgba(0,0,0,0.3);
    background:linear-gradient(160deg,blue,lightblue);
    border-style:none;
    color:white;
}
.loginbuttondiv,.googlebuttondiv,.microsoftbuttondiv{
    padding:2%;
}
.googlebuttondiv button,.microsoftbuttondiv button{
    width:100%;
    block-size:40px;
    border-radius:25px;
    border-style:solid;
    font-weight:bold;
    color:dimgray;
    border-color:lightgray;
    background-color:whitesmoke;
    cursor:pointer;
}
.logindiv div p{
    font-size:x-small;
    margin-top:-1%;
    margin-right:2%;
}
.navelements img{
    block-size:70px;
    margin-top:14%;
}
.navelements{
    top:0;
    width:100%;
    z-index:2000;
    position:fixed;
    display:flex;
    background-color:white;
    justify-content:center;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
.navelements .options{
    display:flex;
    align-items:center;
    width:50%;
    margin-left:22%;
    justify-content:center;
}
.navelements .options div{
    border-radius:35px;
    padding:3%;
    margin-left:1%;
}
.navelements .options div:hover{
    background:linear-gradient(110deg,blue,lightblue);
}
.navelements .options a:hover{
    color:white;
}
.navelements a{
    font-size:large;
    text-decoration:none;
    color:black;
}
.navelements .options .bars{
    display:none;
}
.navelements2{
    bottom:0;
    width:100%;
    z-index:2000;
    position:fixed;
    padding:2%;
    display:none;
    background-color:white;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
.navelements2 .options{
    display:flex;
    margin:auto;
    width:50%;
    justify-content:center;
}
.navelements2 .options div{
    border-radius:35px;
    padding:3%;
}
.navelements2 .options div:hover{
    background:linear-gradient(110deg,blue,lightblue);
}
.navelements2 .options a:hover{
    color:white;
}
.navelements2 a{
    font-size:small;
    text-decoration:none;
    color:black;
}
.allcontents{
    margin:auto;
    width:98%;
    margin-top:1%;
}
.maindiv{
    overflow:hidden;
    background-image:url("img/emile-perron-xrVDYZRGdw4-unsplash.jpg");
    border-radius:10px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.maindiv div{
    width:50%;
    margin-top:10%;
    padding-bottom:10%;
    align-items:center;
    margin-left:4%;
}
.maindiv div h1,.maindiv div p{
    color:white;
}
.maindiv div p{
    font-size:14px;
    color:whitesmoke;
}
.maindiv div button{
    padding:10px 20px;
    outline:none;
    border-radius:25px;
    color:white;
    border-style:none;
    background:linear-gradient(110deg,blue,skyblue);
    font-family:'Poppins',Verdana;
    cursor:pointer;
}
.maindiv2{
    background:linear-gradient(135deg,blue,skyblue);
    box-shadow:0px 0px 1.5px rgba(0,0,0,0.9);
    padding:2%;
    margin-top:2%;
    border-radius:10px;
    color:white;
}
.maindiv3{
    margin-top:2%;
    padding:2%;
    border-radius:10px;
    background-color:whitesmoke;
    position:relative;
}
/* Style for the scrollbar track */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  /* Style for the scrollbar track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the track */
  }
  
  /* Style for the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 10px; /* Roundness of the thumb */
    border: 3px solid #f1f1f1; /* Space around the thumb */
  }
  
  /* Style for the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb when hovered */
  }
.tablediv::-webkit-scrollbar-thumb,.tablediv2::-webkit-scrollbar-thumb{
    border:2px none transparent;
    border-radius:15px;
    background-color:rgba(100,100,100,0.4);
    border-width:3px;
}
.tablediv::-webkit-scrollbar-track,.tablediv2::-webkit-scrollbar-track{
    border-radius:15px;
    background-color:rgba(255,255,255,0.4);
}
.maindiv3 h1 hr{
    border-color:black;
}
.maindiv2 div{
    margin-left:2%;
}
.maindiv3 table div{
    width: 100%; /* Ensures course content fits within each cell */
    height:70vh;
    overflow:hidden;
    border-radius:8px;
    background-color:white;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
.maindiv3 table{
    width: 100%; /* Ensures the table takes full width of the container */
    table-layout:fixed;
}
.maindiv3 table td{
    width: 250px; /* Sets a consistent width for each column */
    padding: 0px 8px; /* Adds some padding around table cells */
    vertical-align: top;
}
.maindiv3 table img{
    height:30vh;
    width:100%;
}
.maindiv3 table div p{
    margin-left:3%;
    font-size: 14px;
}
.maindiv3 .tablediv{
    overflow-x:scroll;
    width:100%;
}
.maindiv3 .button1{
    position: absolute; /* Fixed position relative to the viewport */
    right:0px; /* Distance from the right edge of the viewport */
    background-color:white;
    color:blue;
    top:50%;
    border: none;
    opacity:0.8;
    padding:15px 20px;
    outline:none;
    cursor: pointer;
    border-radius:100%;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    font-size:larger;
    z-index: 1000;
}
.maindiv3 .button0{
    position: absolute; /* Fixed position relative to the viewport */
    left:0px; /* Distance from the right edge of the viewport */
    background-color:white;
    color:blue;
    top:50%;
    border: none;
    padding:15px 20px;
    opacity:0.8;
    outline:none;
    font-size:larger;
    border-radius:100%;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 1000;
}
.maindiv3 .button0:active,.maindiv3 .button1:active,
.maindiv4 .button01:active,.maindiv4 .button11:active{
    opacity:unset;
    box-shadow:0px 0px 1px rgba(0,0,0,0.9);
}
.maindiv3 table div strong{
    font-size:16px;
}
.maindiv4{
    padding:2%;
    margin-top:2%;
    border-radius:10px;
    background:linear-gradient(135deg,blueviolet,deeppink);
    position:relative;
}
.maindiv4 h1{
    color:white;
}
.tablediv2{
    overflow-x:scroll;
}
.tablediv2 table div{
    overflow:hidden;
    border-radius:10px;
    width:100%;
    height:40vh;
}
.tablediv2 table{
    width: 100%; /* Ensures the table takes full width of the container */
    table-layout:fixed;
}
.tablediv2 table div img{
    width:100%;
    height:40vh;
}
.tablediv2 table td{
    width: 350px; /* Sets a consistent width for each column */
    padding: 0px 7px; /* Adds some padding around table cells */
    vertical-align: top;
}
.maindiv4 .button01{
    position: absolute; /* Fixed position relative to the viewport */
    left:0px; /* Distance from the right edge of the viewport */
    background-color:white;
    color:blue;
    border: none;
    top:55%;
    padding:15px 20px;
    outline:none;
    font-size:larger;
    opacity:0.8;
    border-radius:100%;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 2500;
}
.maindiv4 .button11{
    position: absolute; /* Fixed position relative to the viewport */
    right:0px; /* Distance from the right edge of the viewport */
    background-color:white;
    color:blue;
    top:55%;
    border: none;
    padding:15px 20px;
    outline:none;
    opacity:0.8;
    cursor: pointer;
    border-radius:100%;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    font-size:larger;
    z-index: 2000;
}
.tablediv2 table td div{
    position:relative;
    background-color:black;
}
.tablediv2 table td p{
    position:absolute;
    z-index:2000;
    top:14%;
    left:4%;
    font-size:12px;
    width:90%;
    text-align:center;
    color:white;
}
@media(max-width:1000px){
    .navelements .options{
        margin-left:16%;
    }
    .logindiv,#signindiv{
        text-align:center;
        padding:3%;
        width:30%;
        box-shadow:0px 0px 5px rgba(0,0,0,0.3);
        background-color:white;
        border-radius:15px;
    }
}
@media(max-width:900px){
    .navelements .options{
        margin-left:14%;
    }
    .navelements .logodiv{
        margin-left:-5%;
    }
    .logindiv,#signindiv{
        text-align:center;
        padding:3%;
        width:33%;
        box-shadow:0px 0px 5px rgba(0,0,0,0.3);
        background-color:white;
        border-radius:15px;
    }
}
@media(max-width:850px){
    .navelements .options{
        margin-left:-5%;
    }
    .navelements{
        justify-content:space-around;
    }
    .logindiv,#signindiv{
        text-align:center;
        padding:3%;
        width:35%;
        box-shadow:0px 0px 5px rgba(0,0,0,0.3);
        background-color:white;
        border-radius:15px;
    }
}
@media(max-width:800px){
    html{
        font-size:small;
    }
    .maindiv div{
        width:90%;
    }
    .maindiv div p{
        font-size:small;
    }
    .navelements{
        justify-content: space-around;
    }
    .navelements .options .opt{
        display:none;
    }
    .navelements .options .bars{
        display:block;
        margin-left:120%;
    }
    .navelements img{
        block-size:55px;
    }
    .navelements .logodiv{
        margin-left:-8%;
    }
    .navelements2{
        display:block;
    }
    .maindiv button{
        font-size:small;
    }
    .logindiv,#signindiv{
        text-align:center;
        padding:3%;
        width:37%;
        box-shadow:0px 0px 5px rgba(0,0,0,0.3);
        background-color:white;
        border-radius:15px;
    }
    .button0,.button1,.button01,.button11{
        display:none;
    }
}
@media(max-width:700px){
    .logindiv,#signindiv{
        text-align:center;
        padding:3%;
        width:43%;
        box-shadow:0px 0px 5px rgba(0,0,0,0.3);
        background-color:white;
        border-radius:15px;
    }
}
@media(max-width:600px){
    .navelements .options .bars{
        margin-left:110%;
    }
    .navelements .logodiv{
        margin-left:-5%;
    }
    .logindiv,#signindiv{
        text-align:center;
        padding:3%;
        width:50%;
        box-shadow:0px 0px 5px rgba(0,0,0,0.3);
        background-color:white;
        border-radius:15px;
    }
    .maindiv3 table td{
        width: 300px; /* Sets a consistent width for each column */
        padding: 0px 8px; /* Adds some padding around table cells */
        vertical-align: top;
    }
    .maindiv3 table div{
        width: 100%; /* Ensures course content fits within each cell */
        height:55vh;
        overflow:hidden;
        border-radius:8px;
        background-color:white;
        box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    }
    .maindiv3 table img{
        height:25vh;
        width:100%;
    }
    .tablediv2 table div{
        overflow:hidden;
        border-radius:10px;
        width:100%;
        height:30vh;
    }
    .tablediv2 table div img{
        width:100%;
        height:30vh;
    }
    .tablediv2 table td{
        width: 350px; /* Sets a consistent width for each column */
        padding: 0px 7px; /* Adds some padding around table cells */
        vertical-align: top;
    }
}
@media(max-width:550px){
    .logindiv,#signindiv{
        text-align:center;
        padding:3%;
        width:55%;
        box-shadow:0px 0px 5px rgba(0,0,0,0.3);
        background-color:white;
        border-radius:15px;
    }
}
@media(max-width:500px){
    .navelements .options .bars{
        margin-left:100%;
    }
    .navelements .logodiv{
        margin-left:-3%;
    }
    .logindiv,#signindiv{
        text-align:center;
        padding:3%;
        width:60%;
        box-shadow:0px 0px 5px rgba(0,0,0,0.3);
        background-color:white;
        border-radius:15px;
    }
}
@media(max-width:400px){
    .navelements .options .bars{
        margin-left:80%;
    }
    .navelements .logodiv{
        margin-left:2%;
    }
    .maindiv div{
        width:95%;
    }
    .logindiv,#signindiv{
        text-align:center;
        padding:3%;
        width:80%;
        box-shadow:0px 0px 5px rgba(0,0,0,0.3);
        background-color:white;
        border-radius:15px;
    }
}
